.navbar {
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #F5A623;
  height: 7vh;
  max-height: 8vh;
  padding: 0 0 2% 1%;
  width: 100vw !important;
}
.navbar .container {
  margin: 3px 0px 0px 0px !important ;
  width: 100% !important;
}

.navbar-brand{
  display: flex;
  align-items: center;
  position: relative;
  background-size: contain;
}
/*.navbar-brand>img {
  padding: 7px 14px;
}*/
.nav2{
   float: right;
  overflow: hidden;
}
