/*Right Mod*/
.right-mod {
  color: white;
  left: 90%;
  z-index: 500;
  margin-top: 2%;
  position: absolute;
  /*border-radius: 25px;*/
  width: 8%;
  height: 70%;
}
.slidercontainer{
  background-color: rgba(0, 0, 0, 0.8);
  /*background-color: rgba(255, 0, 255, 0.8);*/
  border: 1px solid white;
  height: 60%;
  border-radius: 25px;
  margin: 3%;

}
.overlay2{
  position: absolute;
  left: 6%;
  top: 5%;
  width: 20px;
  height: 20px;
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  z-index: 1000;
  background-color: #F5A623;

}





.infoc3{
  font-size: 1.6vmin !important;
  margin: 3%%;
  text-align: left;
  padding:  0 10% 0 5%;
  z-index: 1000000000000000000000000;

}
.pureslider{
  height: 100%;
  margin: 0 auto;
  width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;


}
.slider {
  padding: 5%;
  text-align: center;
  height: 100%;


}
.rangeslider{

}




output {
  font-size: 2.2vmin;
  padding: .5em;
  margin-top: 2%;
  color: #F5A623;
}

.mbps {
  color: #F5A623;
  text-align: center;
  font-size: 2.2vmin;
}




.right-mod .disclaimer{
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  margin-top: 5%;
  color: white;
  border-radius: 25px;
}
.right-mod .disclaimer p{
  padding: 5px;
  font-size: 1.2vmin;
  text-align: center;
}

/*.rangeslider__tooltip{
  color: black !important;
  background: white !important;
  background-color: white !important;
}*/

.rangeslider-vertical{
  height: 70% !important;
}
